@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --shadow-center: 0 0 12px -2px rgb(0 0 0 / 0.05);
  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

html,
body,
#root {
  height: 100%
}

@plugin "daisyui" {
  themes:
    light,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";

  --color-primary: oklch(0.205 0 0);
  --color-primary-content: oklch(0.985 0 0);
  --color-secondary: oklch(0.97 0 0);
  --color-secondary-content: oklch(0.205 0 0);
  --color-accent: oklch(0.97 0 0);
  --color-accent-content: oklch(0.205 0 0);
  --color-neutral: oklch(0.145 0 0);
  --color-neutral-content: oklch(1 0 0);
  --color-base-100: oklch(1 0 0);
  --color-base-200: oklch(0.97 0 0);
  --color-base-300: oklch(0.922 0 0);
  --color-base-content: oklch(0.145 0 0);
  --color-info: oklch(0.6 0.118 184.704);
  --color-success: oklch(0.398 0.07 227.392);
  --color-warning: oklch(0.828 0.189 84.429);
  --color-error: oklch(0.577 0.245 27.325);

  --radius-field: 9999rem;
  --radius-box: 0.625rem;
}


@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: oklch(0.985 0 0);
  --color-primary-content: oklch(0.205 0 0);
  --color-secondary: oklch(0.269 0 0);
  --color-secondary-content: oklch(0.985 0 0);
  --color-accent: oklch(0.269 0 0);
  --color-accent-content: oklch(0.985 0 0);
  --color-neutral: oklch(0.985 0 0);
  --color-neutral-content: oklch(0.145 0 0);
  --color-base-100: oklch(0.145 0 0);
  --color-base-200: oklch(0.269 0 0);
  --color-base-300: oklch(0.439 0 0);
  --color-base-content: oklch(0.985 0 0);
  --color-info: oklch(0.488 0.243 264.376);
  --color-success: oklch(0.696 0.17 162.48);
  --color-warning: oklch(0.627 0.265 303.9);
  --color-error: oklch(0.396 0.141 25.723);

  --radius-field: 9999rem;
  --radius-box: 0.625rem;
}


/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }


  body {
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.5rem;
    line-height: 1;
  }
}

:root,
[data-theme] {
  background: var(--color-base-100);
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.link {
  text-underline-offset: 2px;
}

.link:hover {
  opacity: 80%;
}
